<div local-class="body-component">
  <div local-class="main">
    <div local-class="sidebar">
      <div local-class="playlist-collection">
        {{fb-track-list
          isExpanded=true
          isQueueUpdating=updateQueue.isRunning
          playlist=playlist
          playlists=playlists
          queue=__queue
          track=track
          onPlaylistItemSelected=(action "onPlaylistItemSelected")
          removeSong=(action "removeSong")
          addToList=(action "addToList")
        }}
        {{#each playlists as |list|}}
          <hr>
          {{fb-track-list
            playlist=list
            playlists=playlists
            queue=__queue
            track=track
            onPlaylistItemSelected=(action "onPlaylistItemSelected")
            removeSong=(action "removeSong")
            addToList=(action "addToList")
          }}
        {{else}}
          <hr>
          <span local-class="collections-subtitle">No other playlists found</span>
        {{/each}}
        <hr>
      </div>
      {{fb-add-playlist-form}}
    </div>
    <div local-class="content">
      {{fb-search playlist=playlist queue=queue playlists=playlists addToList=(action "addToList")}}
      <div local-class="track-list">
        {{#if updateQueue.isRunning}}
          <div local-class="loader-container">
            {{inline-svg "loader"}}
          </div>
        {{else}}
          {{fb-track-list
            collapsible=false
            isExpanded=true
            isQueue=true
            playlist=__queue
            playlists=playlists
            mySongs=playlist
            track=track
            onPlaylistItemSelected=(action "onPlaylistItemSelected")
            addToList=(action "addToList")
            removeSong=(action "removeSong")
          }}
        {{/if}}
      </div>
    </div>
  </div>
  <div local-class="footer">
    {{fb-player video=track onVideoEnded=(action "onVideoEnded")}}
  </div>
</div>