<div local-class="title-container">{{if isQueue "Queue" playlist.name}}
  {{#if (and collapsible playlist.entities.length)}}
    <span local-class="expand-playlist-toggle" {{action (mut _isExpanded) (not __isExpanded) bubbles=false}}>{{inline-svg (if __isExpanded "icons/minus" "icons/add")}}</span>
    <span local-class="playlist-track-count">{{pluralize playlist.entities.length "song"}}</span>
  {{/if}}
</div>
<ul>
  {{#each (sort-by "addedAt:desc" playlist.entities) as |playlistItem|}}
    {{#liquid-if __isExpanded}}
      {{fb-track-list/track
        isQueue=isQueue
        song=playlistItem
        track=track
        queue=queue
        playlist=playlist
        playlists=playlists
        mySongs=mySongs
        addToList=(action addToList)
        removeSong=(action removeSong)
        onTrackSelected=(action onPlaylistItemSelected)
      }}
    {{/liquid-if}}
  {{else}}
    {{#if isQueue}}
      <li local-class="info-text">Add some songs to your queue to get started</li>
    {{else if (eq playlist.type "my-songs")}}
      <li local-class="info-text sidebar-item">Add some songs to your library to get started</li>
    {{else}}
      <li local-class="info-text sidebar-item">This playlist is empty</li>
    {{/if}}
  {{/each}}
</ul>
