<div local-class="title">{{songs.name}}</div>
<ul>
  {{#each (sort-by "addedAt:desc" songs.entities) as |song|}}
    {{fb-track-list/track
      isQueue=isQueue
      song=song
      video=video
      queue=queue
      songs=songs
      mySongs=mySongs
      updateVideo=(action updateVideo)
      addToList=(action addToList)
      removeSong=(action removeSong)
    }}
  {{else}}
    {{#if isQueue}}
      <li local-class="info-text">Add some songs to your queue to get started</li>
    {{else if (eq songs.type "my-songs")}}
      <li local-class="info-text sidebar-item">Add some songs to your library to get started</li>
    {{else}}
      <li local-class="info-text sidebar-item">This playlist is empty</li>
    {{/if}}
  {{/each}}
</ul>
