<div local-class="add-new">
  {{input local-class="search-bar" value=searchTerm input=(action "handleSearchInput" value="target.value") placeholder="Paste link, id, or term to search on youtube..."}}
</div>
<div local-class="search-results {{unless searchTerm.length "no-search-term"}}">
  {{#each searchResults.items as |result|}}
    <div local-class="result-item">
      <img height="90" width="120" local-class="result-thumbnail" src="{{result.snippet.thumbnails.default.url}}" alt="Youtube Video Thumbnail">
      <span local-class="result-title">{{result.snippet.title}}</span>
      {{#unless (array-contains queue.entities result.id.videoId property="videoId")}}
        <div local-class="result-actions add-to-queue" {{action addToList result "queue" bubbles=false}}>🚃 Add to queue</div>
      {{/unless}}
      {{#unless (array-contains playlist.entities result.id.videoId property="videoId")}}
        <div local-class="result-actions add-to-songs" {{action addToList result "playlist" bubbles=false}}>🎧 Add to songs</div>
      {{/unless}}
      <div local-class="playlist-selector">
        {{#basic-dropdown horizontalPosition="left" as |dropdown|}}
          {{#dropdown.trigger}}
            <span local-class="playlist-list-trigger {{if dropdown.isOpen "is-active"}}">{{inline-svg "icons/add"}}</span>
          {{/dropdown.trigger}}
          {{#dropdown.content}}
            {{#if playlists.length}}
              <span local-class="info-text">Add to playlist:</span>
            {{/if}}
            <ul local-class="playlists">
              {{#each playlists as |playlist|}}
                <li local-class="playlist-item" {{action addToList result playlist bubbles=false}}>
                  {{playlist.name}}
                  {{#if (array-contains playlist.entities result.id.videoId property="videoId")}}
                    {{inline-svg "icons/check"}}
                  {{/if}}
                </li>
              {{/each}}
            </ul>
            {{fb-add-playlist-form horizontalPosition="left" compactForm=true onCreatePlaylist=(action addToList result bubbles=false)}}
          {{/dropdown.content}}
        {{/basic-dropdown}}
      </div>
    </div>
  {{else if (and searchYoutube.lastSuccessful.value (not searchYoutube.isRunning) searchTerm.length)}}
    <span local-class="info-text">No results found for "{{searchTerm}}"</span>
  {{/each}}
</div>
