<div local-class="add-new">
  {{input local-class="search-bar" value=searchTerm input=(action "handleSearchInput" value="target.value") placeholder="Paste link, id, or term to search on youtube..."}}
</div>
<div local-class="search-results {{unless searchTerm.length "no-search-term"}}">
  {{#each searchResults.items as |result|}}
    <div local-class="result-item" {{action "addToList" result "queue" bubbles=false}}>
      <img height="90" width="120" local-class="result-thumbnail" src="{{result.snippet.thumbnails.default.url}}" alt="Youtube Video Thumbnail">
      <span local-class="result-title">{{result.snippet.title}}</span>
      {{#unless (array-contains queue.entities result.id.videoId property="videoId")}}
        <div local-class="result-actions add-to-queue" {{action addToList result "queue" bubbles=false}}>🚃 Add to queue</div>
      {{/unless}}
      {{#unless (array-contains songs.entities result.id.videoId property="videoId")}}
        <div local-class="result-actions add-to-songs" {{action addToList result "songs" bubbles=false}}>🎧 Add to songs</div>
      {{/unless}}
    </div>
  {{else if (and searchYoutube.lastSuccessful.value (not searchYoutube.isRunning) searchTerm.length)}}
    <span local-class="info-text">No results found for "{{searchTerm}}"</span>
  {{/each}}
</div>
