<li local-class="song-item {{if isQueue "queue-item"}} {{if (and track.videoId (eq song.videoId track.videoId)) "is-playing"}}" {{action onTrackSelected song playlist}}>
  <span local-class="song-item-title">{{song.title}}</span>

  {{#if canAddToQueue}}
    <div local-class="song-item-actions add-to-queue" title="{{if isQueue "Add to My Songs" "Add to Queue"}}" {{action addToList song (if isQueue "songs" "queue") bubbles=false}}>{{inline-svg "icons/add"}}</div>
  {{/if}}
  <div local-class="song-item-actions delete-song" title="Remove from list" {{action removeSong song playlist bubbles=false}}>{{inline-svg "icons/cross"}}</div>
</li>
